.credPadding {
  padding-right: 10px
}

.inline li {
  display: inline;
  padding: 1%
}

svg {
  display: block;
}

.slider .slides li img {
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#map-canvas {
  height: 100%;
  margin: 0;
  padding: 0
}

.header-container {
  min-height: 900px;

}

.topPadding {
  padding-top: 20%;
}

.drop-shadow {
  @include filter(drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5)));
}

.parallax-container {
  height: auto;

}

.translucent-bg {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
}

.g_captcha {
  width: 50%;
  margin: 0 auto;

}

.relative-content {
  position: relative;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}