nav {
    .brand-logo {
        img {
            max-width: 125px;
            width: 100%
        }
    }
    ul{
      li{
        &:hover{
          background-color: grey
        }
      }
    }
    .active {
        position: relative;
        .active_border {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-bottom: 3px solid $secondary-color;
        }
    }
}

@media(max-width:600px) {
    nav {
        .brand-logo {
            img {
                max-width: 110px;
            }
        }
    }
}
