$primary-color: #607d8b !default; //blue-grey
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;
@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}

@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}

$secondary-color: #ffc107 !default; //amber
$success-color: #4caf50 !default; //green
$error-color: #f44336 !default; //red

$link-color: #009688 !default; //teal

