/* line 1, ../sass/modules/_nav.scss */
.nav-bg {
  background-image: url(../../../assets/nav-bg.png);
  display: block;
  overflow: auto;
  background-size: cover;
}

/* line 8, ../sass/modules/_nav.scss */
#sidenav-overlay {
  background-color: transparent;
}

/* line 12, ../sass/modules/_nav.scss */
.navpic {
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 19, ../sass/modules/_nav.scss */
.nav-bar-name {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 1, ../sass/modules/_settings.scss */
[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}
