.credPadding {
    padding-right: 10px
}
.inline li {
    display: inline;
    padding: 1%
}
svg {
    display: block;
}
.slider .slides li img {
    background-size:100% auto;
    background-repeat: no-repeat;
}
#map-canvas {
    height: 100%;
    margin: 0;
    padding: 0
}