<div ng-init="fetchPhotos(0)">
    <div class="container">
        <h1 class="header red-text thin">Photos</h1>

        <div class="section">

            <div ng-repeat="photo in photos" ng-if="$index % 3 == 0" class="row col s12 m12 l12">
                <div class="col s12 m4 l4" ng-if="photos[$index]">
                    <div class="card medium z-depth-3">
                        <div class="card-image">
                            <a href="{{picPaths.main_image+photos[$index].image_name}}" data-lightbox="image-1"
                               data-title="{{photos[$index].caption}}">
                                <img lazy-img="{{picPaths.thumbnails+photos[$index].image_name}}"/></a>

                        </div>
                        <div class="card-content">
                            <p>{{photos[$index].caption}}</p>
                        </div>
                        <div class="card-action">
                            <a ng-click="openModal(photos[$index].id,'caption')" class="amber-text">Edit Caption</a>
                            <a ng-click="deletePhoto(photos[$index].id)" class="amber-text">Delete</a>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l4" ng-if="photos[$index+1]">
                    <div class="card medium z-depth-3 ">
                        <div class="card-image">
                            <a href="{{picPaths.main_image+photos[$index+1].image_name}}" data-lightbox="image-1"
                               data-title="{{photos[$index+1].caption}}">
                                <img lazy-img="{{picPaths.thumbnails+photos[$index+1].image_name}}"/></a>

                        </div>
                        <div class="card-content">
                            <p>{{photos[$index+1].caption}}</p>
                        </div>
                        <div class="card-action">
                            <a ng-click="openModal(photos[$index+1].id,'caption')" class="amber-text">Edit Caption</a>
                            <a ng-click="deletePhoto(photos[$index+1].id)" class="amber-text">Delete</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4 l4" ng-if="photos[$index+2]">

                    <div class="card medium z-depth-3 ">
                        <div class="card-image">
                            <a href="{{picPaths.main_image+photos[$index+2].image_name}}" data-lightbox="image-1"
                               data-title="{{photos[$index+2].caption}}">
                                <img lazy-img="{{picPaths.thumbnails+photos[$index+2].image_name}}"/></a>

                        </div>
                        <div class="card-content">
                            <p>{{photos[$index+2].caption}}</p>
                        </div>
                        <div class="card-action">
                            <a ng-click="openModal(photos[$index+2].id,'caption')" class="amber-text">Edit Caption</a>
                            <a ng-click="deletePhoto(photos[$index+2].id)" class="amber-text">Delete</a>
                        </div>
                    </div>
                </div>


            </div>

            <div ng-show="photos.length!=0">
                <div class="center"><a class="waves-effect waves-light btn blue-grey" ng-click="loadMore()">Load More
                    Photos</a></div>
            </div>
            <div ng-show="photos.length==0">
                <p class="flow-text">No Photos Found</p>
            </div>


            <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                <a class="btn-floating btn-large red z-depth-3 modal-trigger" data-target="photoModal">
                    <i class="material-icons">add_a_photo</i>
                </a>
            </div>

        </div>

    </div>
    <div id="photoModal" class="modal bottom-sheet">
        <form class="col s12" ng-submit="uploadPhoto(pic)">
            <div class="modal-content">
                <h4 class="header thin">Upload Photo</h4>

                <div class="row">
                    <div class="file-field input-field ">
                        <input class="file-path validate" type="text" value={{pic.File[0].name}} readonly/>

                        <div class="btn blue-grey">
                            <span>File</span>
                            <input type="file" ngf-select ng-model="pic.File" name="file" accept="image/*"
                                   required="true"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="caption" type="text" ng-model="pic.Caption">
                        <label for="caption">Caption</label>
                    </div>
                </div>

            </div>


            <div class="modal-footer">
                <button class="modal-action btn waves-effect waves-light blue-grey" type="submit">Upload
                    <i class="mdi-file-file-upload right"></i>
                </button>
                <button class="modal-action modal-close btn waves-effect waves-light blue-grey">Close
                    <i class="mdi-navigation-close right"></i>
                </button>
            </div>
        </form>

    </div>
    <div id="updateCaption" class="modal">
        <div class="modal-content">
            <h4>Enter new Caption</h4>

            <div class="row">
                <div class="input-field col s12">
                    <input ng-model="currentPic.Caption" id="new_caption" type="text" class="validate">
                    <label class="active" for="new_caption">Caption</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">

            <a ng-click="updateCaption(currentPic.Id)"
               class=" modal-action  waves-effect waves-light btn-flat">Update Caption</a>
            <a class=" modal-action modal-close waves-effect waves-light btn-flat">Cancel</a>

        </div>
    </div>


</div>