<div>
    <div class="container">
        <h1 class="header red-text thin">Account</h1>

        <div class="section">

            <div>
                <form ng-submit="updatePassword()">

                    <h4 class="header thin">Update Password</h4>

                    <div class="row">
                        <div class="input-field col s12 m6 l6">
                            <input id="currentPassword" type="password" class="validate" ng-model="password.current"
                                   required="true">
                            <label for="currentPassword">Current Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6 l6">
                            <input id="newPassword" type="password" class="validate" ng-model="password.new"
                                   required="true">
                            <label for="newPassword">New Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6 l6">
                            <input id="confirmPassword" type="password" class="validate" ng-model="password.confirm"
                                   required="true">
                            <label for="confirmPassword">Confirm New Password</label>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col s12 m6 l6 center-align">
                            <button class=" btn waves-effect waves-light blue-grey " type="submit">
                                Update Password
                                <i class="mdi-file-file-upload right"></i>
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>