<header>
    <div class="navbar-fixed z-depth-3">
        <nav class="blue-grey darken-2">
            <div class="nav-wrapper container"><a href=# data-activates=nav-mobile class=button-collapse><i
                    class=mdi-navigation-menu></i></a>
                <a class="brand-logo">
                    <img src="/assets/v12navbar.svg" style="width: 43%">
                </a>
                <ul class="right hide-on-med-and-down">
                    <li du-scrollspy="Home"><a href=#Home>Home</a></li>
                    <li du-scrollspy="About"><a href=#About>About</a></li>
                    <li du-scrollspy="Services"><a href=#Services>Services</a></li>
                    <li du-scrollspy="Gallery"><a href=#Gallery>Gallery</a></li>
                    <li du-scrollspy="Testimonials"><a href=#Testimonials>Testimonials</a></li>
                    <li du-scrollspy="Contact"><a href=#Contact>Contact</a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li class="avatar valign-wrapper">
                        <div class="center valign ">
                            <img src="/assets/v12Logo.svg" style="width:100%;padding-top: 10px">
                        </div>
                    </li>
                    <li du-scrollspy="Home"><a href=#Home>Home</a></li>
                    <li du-scrollspy="About"><a href=#About>About</a></li>
                    <li du-scrollspy="Services"><a href=#Services>Services</a></li>
                    <li du-scrollspy="Gallery"><a href=#Gallery>Gallery</a></li>
                    <li du-scrollspy="Testimonials"><a href=#Testimonials>Testimonials</a></li>
                    <li du-scrollspy="Contact"><a href=#Contact>Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<main>
<div id="Home" class="slider">
    <ul class="slides ">
        <li>
            <img src="/assets/test.svg" class="responsive-img"
                 style="background-color: #ffffff ;position: absolute;bottom:0px;right: 0px">

            <div class="caption left-align">
                <h3 class="black-text">This is our big Tagline!</h3>
                <h5 class="light black-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="/assets/white.png" style="background-color: #ffffff ;position: absolute">

            <div class="caption left-align">
                <h3>Left Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="/assets/white.png" style="background-color: #ffffff ;position: absolute">

            <div class="caption right-align">
                <h3>Right Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="/assets/white.png" style="background-color: #ffffff ;position: absolute">

            <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
    </ul>
</div>

<div id="About" class="container">
    <h1 class="header ">About</h1>

    <p class="thin flow-text">Let me get this straight. You think that your client, one of the wealthiest, most
        powerful men in the world is secretly a vigilante who spends his nights beating criminals to a pulp with his
        bare hands and your plan is to blackmail this person? Good luck.</br>

        Theatricality and deception, powerful agents to the uninitiated. But we are initiated
        aren't we, Bruce? Members of the League of Shadows. And you betrayed us.</br>

        If you can tell me the Russian for "apply your own bloody suntan lotion."</p>
</div>

<div id="Services" class="container">
    <h1 class="header ">Services</h1>

    <div class="row">
        <div class="col s12 m6 l6 center">
            <ul>
                <li><p class="flow-text">Random Item</p></li>
                <li><p class="flow-text">Random Item</p></li>
                <li><p class="flow-text">Random Item</p></li>
                <li><p class="flow-text">Random Item</p></li>
                <li><p class="flow-text">Random Item</p></li>
                <li><p class="flow-text">Random Item</p></li>
                <li><p class="flow-text">Random Item</p></li>
                <li><p class="flow-text">Random Item</p></li>
            </ul>
        </div>
        <div class="col s12 m6 l6 center">
            <ul>
                <li><p class="flow-text">Random Item</p></li>
                <li><p class="flow-text">Random Item</p></li>
                <li><p class="flow-text">Random Item</p></li>
                <li><p class="flow-text">Random Item</p></li>
                <li><p class="flow-text">Random Item</p></li>
                <li><p class="flow-text">Random Item</p></li>
                <li><p class="flow-text">Random Item</p></li>
                <li><p class="flow-text">Random Item</p></li>
            </ul>
        </div>
    </div>
</div>

<div id="Gallery" class="container">
    <h1 class="header ">Gallery</h1>

    <h3>Photos</h3>

    <div class="row">
        <div class="col s12 m3 l3 ">
            <img class="materialboxed responsive-img" width="650" src="http://lorempixel.com/640/480/nightlife/">
        </div>
        <div class="col s12 m3 l3 ">
            <img class="materialboxed responsive-img" width="650" src="http://lorempixel.com/640/480/nightlife/">
        </div>
        <div class="col s12 m3 l3 ">
            <img class="materialboxed responsive-img" width="650" src="http://lorempixel.com/640/480/nightlife/">
        </div>
        <div class="col s12 m3 l3 ">
            <img class="materialboxed responsive-img" width="650" src="http://lorempixel.com/640/480/nightlife/">
        </div>

    </div>
    <h3>Videos</h3>

    <div class="row">
        <div class="col s12 m4 l4">
            <div class="video-container">
                <iframe width="640" height="480" src="https://www.youtube.com/v/eFzV4hrVfuk" frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="video-container">
                <iframe width="640" height="480" src="https://www.youtube.com/v/ydvJm83xlWk" frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>

        <div class="col s12 m4 l4">
            <div class="video-container">
                <iframe width="640" height="480" src="https://www.youtube.com/v/UslFzWrEC_4" frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col s12 m4 l4">
            <div class="video-container">
                <iframe width="640" height="480" src="https://www.youtube.com/v/wNT9x2fPaYY" frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="video-container">
                <iframe width="640" height="480" src="https://www.youtube.com/v/BYaThZ_jeTs" frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div id="Testimonials">
    <div class="container"><h1 class="header ">Testimonials</h1></div>

    <div class="slider_testimonial">
        <ul class="slides">
            <li>
                <img src="/assets/white.png" class="responsive-img"
                     style="background-color: #ffffff">

                <div class="caption center-align">
                    <h3 class="black-text">Very good Experience</h3>
                    <h5 class="light black-text text-lighten-3">- John Doe</h5>
                </div>
            </li>
            <li>
                <img src="/assets/white.png" class="responsive-img"
                     style="background-color: #ffffff">

                <div class="caption center-align">
                    <h3 class="black-text">Very good Experience sure to recommend to others</h3>
                    <h5 class="light black-text text-lighten-3">- Jane Doe</h5>
                </div>
            </li>
            <li>
                <img src="/assets/white.png" class="responsive-img"
                     style="background-color: #ffffff">

                <div class="caption center-align">
                    <h3 class="black-text">Very good </h3>
                    <h5 class="light black-text text-lighten-3">- John Doe</h5>
                </div>
            </li>

        </ul>
    </div>
</div>

<div id="Contact">
    <div class="container">
        <h1 class="header">Contact</h1>
    </div>
    <div id="map-canvas" style="height:500px"></div>
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h4 class="header center-align">Address</h4>

                <p class="flow-text center-align">13, Miraton Gardens,<br>Airport Road, Chicalim,<br>Vasco Da Gama -
                    403711,<br>Goa,<br>India</p>
            </div>
            <div class="col s12 m6 l6">
                <h4 class="header center-align">Contact Details</h4>

                <div class="center-align">
                    <p class="flow-text"><i class="mdi-communication-phone"></i> (+91) - 9921156262</p>
                </div>
                <div class="center-align">
                    <p class="flow-text"><i class="mdi-communication-email"></i> info@framen.com</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <h4 class="center-align"> Get in touch.</h4>
            </div>

            <div class="col s12 m4 l8 push-m2 push-l2">
                <form class="col s12" ng-submit="sendEmail()">
                    <div class="row">
                        <input-field class="input-field col s12"><i class="mdi-social-person prefix"></i> <input
                                id="name" type="text" class="validate" required="true" ng-model="email.name"> <label
                                for="name">Name</label></input-field>
                    </div>
                    <div class="row">
                        <input-field class="input-field col s12"><i class="mdi-communication-email prefix"></i>
                            <input id="email" type="email" class="validate" required="true"
                                   ng-model="email.address"> <label for="email">Email</label></input-field>
                    </div>
                    <div class="row">
                        <input-field class="input-field col s12"><i class="mdi-action-subject prefix"></i> <input
                                id="subject" type="text" class="validate" required="true" ng-model="email.subject">
                            <label for="subject">Subject</label></input-field>
                    </div>
                    <div class="row">
                        <input-field class="input-field col s12"><i class="mdi-communication-message prefix"></i>
                            <textarea id="message" class="materialize-textarea" required="true"
                                      ng-model="email.msg"></textarea> <label for="message">Message</label>
                        </input-field>
                    </div>
                    <div class="row center">
                        <button class="btn waves-effect waves-light teal" type="submit">Send <i
                                class="mdi-content-send right"></i></button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</main>

<footer class="page-footer blue-grey darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12"><h5 class="white-text">Contact Details</h5>

                <p class="blue-grey-text text-lighten-4">Phone Number: (+91) - 9921156262</p>

                <p class="blue-grey-text text-lighten-4">Email: info@v12events.com</p></div>
            <div class="col l4 offset-l2 s12"><h5 class="white-text">Links</h5>
                <ul class="inline">
                    <li><a href="#"><i class="fa fa-facebook fa-2x white-text"></i></a></li>
                    <li><a href="#"><i class="fa fa-envelope fa-2x white-text"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">© 2015 - Present Copyright V12 Events Dubai LLC
            <div class="right">Site Created by Clinton D'souza
                <a href="#" class="credPadding"><i
                        class="fa fa-facebook fa-1x white-text"></i>
                </a><a href="#" class="credPadding"><i
                        class="fa fa-twitter fa-1x white-text"></i></a>
                <a href="#" class="credPadding"><i
                        class="fa fa-instagram fa-1x white-text"></i></a>
                <a href="#" class="credPadding"><i
                        class="fa fa-envelope fa-1x white-text"></i></a>
            </div>
        </div>
    </div>
</footer>
