<header>
    <div class="navbar-fixed z-depth-3">
        <nav class="blue-grey darken-2">
            <div class="nav-wrapper container"><a href=# data-activates=nav-mobile class=button-collapse><i
                    class=mdi-navigation-menu></i></a>
                <a class="brand-logo">
                    <img src="/assets/v12navbar.svg" style="width: 43%">
                </a>
                <ul class="right hide-on-med-and-down">
                    <li du-scrollspy="Home"><a href=#Home>Home</a></li>
                    <li du-scrollspy="About"><a href=#About>About</a></li>
                    <li du-scrollspy="Services"><a href=#Services>Services</a></li>
                    <li du-scrollspy="Gallery"><a href=#Gallery>Gallery</a></li>
                    <li du-scrollspy="Testimonials"><a href=#Testimonials>Testimonials</a></li>
                    <li du-scrollspy="Contact"><a href=#Contact>Contact</a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li class="avatar valign-wrapper">
                        <div class="center valign ">
                            <img src="/assets/v12Logo.svg" style="width:100%;padding-top: 10px">
                        </div>
                    </li>
                    <li du-scrollspy="Home"><a href=#Home>Home</a></li>
                    <li du-scrollspy="About"><a href=#About>About</a></li>
                    <li du-scrollspy="Services"><a href=#Services>Services</a></li>
                    <li du-scrollspy="Gallery"><a href=#Gallery>Gallery</a></li>
                    <li du-scrollspy="Testimonials"><a href=#Testimonials>Testimonials</a></li>
                    <li du-scrollspy="Contact"><a href=#Contact>Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<main>

<div id="Home">
    <div class="coverImage">
        <section class="coverInfo">
            <section class="brand-logo">
                <img ng-src="../../../assets/v12Logo.svg" class="drop-shadow">
            </section>
            <section>
                <h5 class="header col s12 light white-text ">Welcome to V12 Events. The best event
                    management company in the UAE
                </h5>
            </section>
            <section class="social-icons">
                <ul class="">
                    <li><a href="#"><i class="fa fa-facebook fa-3x white-text"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter fa-3x white-text"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram fa-3x white-text"></i></a></li>
                </ul>
            </section>
        </section>
    </div>
</div>

<div id="About" class="relative-content">
    <div class="container"><h1 class="header ">About</h1>

        <p class="thin flow-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis est tellus, mollis sit
            amet
            placerat eget, cursus vel lacus. Maecenas id orci ut tellus efficitur dapibus eu at ante. Vivamus tincidunt
            lacus id nisi viverra bibendum. Praesent id lorem a libero volutpat euismod. Proin est arcu, porta in varius
            in,
            varius et nisl. Nullam maximus, lacus vitae aliquet sodales, urna risus egestas dui, non cursus ipsum sem
            quis
            felis. Curabitur sed odio feugiat, cursus tortor et, faucibus eros. Phasellus non lorem iaculis, scelerisque
            risus ut, pretium sem.</br>

            Sed fermentum imperdiet nunc, in viverra lectus malesuada elementum. Pellentesque malesuada bibendum eros,
            vel
            interdum felis aliquam at. Curabitur tincidunt sem in nibh malesuada, sed eleifend metus placerat. Maecenas
            iaculis arcu sed elit vestibulum varius.</br>

            Vestibulum vulputate arcu sed lacinia iaculis. Nulla mattis sapien ut elit interdum, id facilisis lacus
            lobortis. Pellentesque elit neque, posuere sed vestibulum vel, ornare tempus mi. Nullam vehicula efficitur
            sem
            vel volutpat. Aliquam mattis enim rhoncus lacus tempus posuere.</p>

        <br><br>

        <div class="col s12 m12 l12">
            <div class="row" zum-waypoint="waypoints" down="fadeIn.on" up="fadeIn.off" offset="85%">

                <div ng-class=" {'col s12 m4 l4 fadeInItem':true,'animated fadeIn' : waypoints.fadeIn.on, 'animated fadeOut' : waypoints.fadeIn.off}">

                    <img src="../../../assets/birthday.svg" class="drop-shadow responsive-img">
                    <h4 class="center-align">Birthdays</h4>

                    <p class="flow-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis est tellus,
                        mollis
                        sit amet placerat eget, cursus vel lacus. Maecenas id orci ut tellus efficitur dapibus eu at
                        ante.</p>
                </div>
                <div ng-class=" {'col s12 m4 l4 fadeInItem':true,'animated fadeIn' : waypoints.fadeIn.on, 'animated fadeOut' : waypoints.fadeIn.off }">

                    <img src="../../../assets/corporate.svg" class="drop-shadow responsive-img">
                    <h4 class="center-align">Corporate Events</h4>

                    <p class="flow-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis est tellus,
                        mollis
                        sit amet placerat eget, cursus vel lacus. Maecenas id orci ut tellus efficitur dapibus eu at
                        ante.</p>
                </div>
                <div ng-class=" {'col s12 m4 l4 fadeInItem':true,'animated fadeIn' : waypoints.fadeIn.on, 'animated fadeOut' : waypoints.fadeIn.off }">

                    <img src="../../../assets/wedding.svg" class="drop-shadow responsive-img">
                    <h4 class="center-align">Weddings</h4>

                    <p class="flow-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis est tellus,
                        mollis
                        sit amet placerat eget, cursus vel lacus. Maecenas id orci ut tellus efficitur dapibus eu at
                        ante.</p>
                </div>
            </div>
        </div>
    </div>

    <!--<img src="../../../assets/Generations_Modern_Sonic.png" class="top-right responsive-img">-->
    <!--<img src="../../../assets/Generations_Modern_Sonic.png" class="bottom-right responsive-img">-->
    <!--<img src="../../../assets/Generations_Modern_Sonic.png" class="top-left responsive-img">-->
    <!--<img src="../../../assets/Generations_Modern_Sonic.png" class="bottom-left responsive-img">-->
</div>

<div id="Services" class="parallax-container">

    <div class="container translucent-bg">
        <h1 class="header ">Services</h1>

        <p class=" flow-text">Here are some of the services we offer.</p>

        <section class="servicesMedia row center">
            <section class="media col s12 m4 l4">
                <img src="../../../assets/dj.svg"/>

                <p class="content flow-text">Party Entertainment</p>
            </section>
            <section class="media col s12 m4 l4">
                <img src="../../../assets/music.svg" class="circle"/>

                <p class="content flow-text">Music</p>
            </section>
            <section class="media col s12 m4 l43">
                <img src="../../../assets/food.svg"/>

                <p class="content flow-text">Catering</p>
            </section>
            <section class="media col s12 m4 l4">
                <img src="../../../assets/hall.svg"/>

                <p class="content flow-text">Hall Arrangements</p>
            </section>
            <section class="media col s12 m4 l4">
                <img src="../../../assets/balloons.svg"/>

                <p class="content flow-text">Decorations</p>
            </section>
            <section class="media col s12 m4 l4">
                <img src="../../../assets/light.svg"/>

                <p class="content flow-text">Lighting</p>
            </section>
            <section class="media col s12 m4 l4">
                <img src="../../../assets/sound.svg"/>

                <p class="content flow-text">Sound Setup</p>
            </section>
            <section class="media col s12 m4 l4">
                <img src="../../../assets/magic.svg"/>

                <p class="content flow-text">Magicians</p>
            </section>
            <section class="media col s12 m4 l4">
                <img src="../../../assets/clown.svg"/>

                <p class="content flow-text">Clowns</p>
            </section>
            <section class="media col s12 m4 l4">
                <img src="../../../assets/cake.svg"/>

                <p class="content flow-text">Cake Arrangements</p>
            </section>
            <section class="media col s12 m4 l4">
                <img src="../../../assets/beverages.svg"/>

                <p class="content flow-text">Beverages</p>
            </section>
            <section class="media col s12 m4 l4">
                <img src="../../../assets/music.svg"/>

                <p class="content flow-text">Random Item</p>
            </section>

        </section>
    </div>
    <div class="parallax"><img ng-src="../../../assets/v12_services.jpg"></div>

</div>

<div id="Gallery" class="container">
    <h1 class="header ">Gallery</h1>

    <section ng-init="fetchPhotos(0)">
        <h3>Photos</h3>


        <div ng-repeat="photo in photos" ng-if="$index % 3 == 0" class="row col s12 m12 l12">
            <div class="col s4 m4 l4" ng-if="photos[$index]">
                <a href="{{picPaths.main_image+photos[$index].image_name}}" data-lightbox="image-1"
                   data-title="{{photos[$index].caption}}">
                    <img lazy-img="{{picPaths.thumbnails+photos[$index].image_name}}" class="responsive-img"/></a>
            </div>
            <div class="col s4 m4 l4" ng-if="photos[$index+1]">
                <a href="{{picPaths.main_image+photos[$index+1].image_name}}" data-lightbox="image-1"
                   data-title="{{photos[$index+1].caption}}">
                    <img lazy-img="{{picPaths.thumbnails+photos[$index+1].image_name}}" class="responsive-img"/></a>
            </div>
            <div class="col s4 m4 l4" ng-if="photos[$index+2]">

                <a href="{{picPaths.main_image+photos[$index+2].image_name}}" data-lightbox="image-1"
                   data-title="{{photos[$index+2].caption}}">
                    <img lazy-img="{{picPaths.thumbnails+photos[$index+2].image_name}}" class="responsive-img"/></a>
            </div>


        </div>

        <div class="load-bar" ng-show="fetchingPhotos">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

        <div ng-show="photos.length!=0">
            <div class="center"><a class="waves-effect waves-light btn blue-grey" ng-click="fetchPhotos(photos.length)">Load
                More
                Photos</a></div>
        </div>
        <div ng-show="photos.length==0">
            <p class="flow-text">No Photos Found</p>
        </div>

    </section>


    <section ng-init="fetchVideos(0)">
        <h3>Videos</h3>

        <div ng-repeat="video in videos" ng-if="$index % 3 == 0" class="row col s12 m12 l12">
            <div class="col s4 m4 l4" ng-if="videos[$index]">
                <a href="https://www.youtube.com/watch?v={{videos[$index].video_id}}" target="_blank"><img
                        class="responsive-img"
                        lazy-img="http://img.youtube.com/vi/{{videos[$index].video_id}}/sddefault.jpg"
                        width="300"></a>
            </div>
            <div class="col s4 m4 l4" ng-if="videos[$index+1]">
                <a href="https://www.youtube.com/watch?v={{videos[$index+1].video_id}}" target="_blank"><img
                        class="responsive-img"
                        lazy-img="http://img.youtube.com/vi/{{videos[$index+1].video_id}}/sddefault.jpg"
                        width="300"></a>
            </div>
            <div class="col s4 m4 l4" ng-if="videos[$index+2]">

                <a href="https://www.youtube.com/watch?v={{videos[$index+2].video_id}}" target="_blank"><img
                        class="responsive-img"
                        lazy-img="http://img.youtube.com/vi/{{videos[$index+2].video_id}}/sddefault.jpg"
                        width="300"></a>
            </div>


        </div>
        <div class="load-bar" ng-show="fetchingVideos">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>

        <div ng-show="videos.length!=0">
            <div class="center"><a class="waves-effect waves-light btn blue-grey" ng-click="fetchVideos(videos.length)">Load
                More
                Videos</a></div>
        </div>
        <div ng-show="videos.length==0">
            <p class="flow-text">No Videos Found</p>
        </div>
    </section>
</div>

<div id="Testimonials" ng-init="fetchTestimonials(0)">
    <div class="container"><h1 class="header ">Testimonials</h1></div>


    <div class="container">

        <div ng-repeat="testimonial in testimonials" ng-if="$index % 3 == 0" class="row col s12 m12 l12">
            <div class="col s12 m4 l4" ng-if="testimonials[$index]">
                <div class="testimonial">

                    <blockquote>
                        <div class=" flow-text">{{testimonials[$index].testimonial}}
                        </div>
                        <br>

                        <div><strong>{{testimonials[$index].testifier_name}}</strong><br/>
                            {{testimonials[$index].testifier_designation}},
                            {{testimonials[$index].testifier_company_name}}
                        </div>
                    </blockquote>
                </div>


            </div>
            <div class="col s12 m4 l4" ng-if="testimonials[$index+1]">
                <div class="testimonial">

                    <blockquote>
                        <div class=" flow-text">{{testimonials[$index+1].testimonial}}
                        </div>
                        <br>

                        <div><strong>{{testimonials[$index+1].testifier_name}}</strong><br/>
                            {{testimonials[$index+1].testifier_designation}},
                            {{testimonials[$index+1].testifier_company_name}}
                        </div>
                    </blockquote>
                </div>


            </div>
            <div class="col s12 m4 l4" ng-if="testimonials[$index+2]">
                <div class="testimonial">

                    <blockquote>
                        <div class=" flow-text">{{testimonials[$index+2].testimonial}}
                        </div>
                        <br>

                        <div><strong>{{testimonials[$index+2].testifier_name}}</strong><br/>
                            {{testimonials[$index+2].testifier_designation}},
                            {{testimonials[$index+2].testifier_company_name}}
                        </div>
                    </blockquote>
                </div>


            </div>


        </div>

        <div class="load-bar" ng-show="fetchingTestimonials">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div ng-show="testimonials.length==0">
            <p class="flow-text">No Testimonials Found</p>
        </div>
    </div>
</div>

<div id="Contact">
    <div class="container">
        <h1 class="header">Contact</h1>
    </div>
    <div id="map-canvas" style="height:500px"></div>
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h4 class="header center-align">Address</h4>

                <p class="flow-text center-align">123, ABC Block,<br>XYZ Road, Dubai,<br>UAE</p>
            </div>
            <div class="col s12 m6 l6">
                <h4 class="header center-align">Contact Details</h4>

                <div class="center-align">
                    <p class="flow-text"><i class="mdi-communication-phone"></i> (+91) - 9999999999</p>
                </div>
                <div class="center-align">
                    <p class="flow-text"><i class="mdi-communication-email"></i> info@v12events.com</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <h4 class="center-align"> Get in touch.</h4>
            </div>

            <div class="col s12 m4 l8 push-m2 push-l2">
                <form class="col s12" ng-submit="sendEmail()">
                    <div class="row">
                        <input-field class="input-field col s12"><i class="mdi-social-person prefix"></i> <input
                                id="name" type="text" class="validate" required="true" ng-model="email.name"> <label
                                for="name">Name</label></input-field>
                    </div>
                    <div class="row">
                        <input-field class="input-field col s12"><i class="mdi-communication-email prefix"></i>
                            <input id="email" type="email" class="validate" required="true"
                                   ng-model="email.address"> <label for="email">Email</label></input-field>
                    </div>
                    <div class="row">
                        <input-field class="input-field col s12"><i class="mdi-action-subject prefix"></i> <input
                                id="subject" type="text" class="validate" required="true" ng-model="email.subject">
                            <label for="subject">Subject</label></input-field>
                    </div>
                    <div class="row">
                        <input-field class="input-field col s12"><i class="mdi-communication-message prefix"></i>
                            <textarea id="message" class="materialize-textarea" required="true"
                                      ng-model="email.msg"></textarea> <label for="message">Message</label>
                        </input-field>
                    </div>
                    <div class="row">
                        <div vc-recaptcha key="publicKey" class="g_captcha"></div>
                    </div>
                    <div class="row center">
                        <button class="btn waves-effect waves-light blue-grey" type="submit">Send <i
                                class="mdi-content-send right"></i></button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</main>

<footer class="page-footer blue-grey darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12"><h5 class="white-text">Contact Details</h5>

                <p class="blue-grey-text text-lighten-4">Phone Number: (+91) - 9999999999</p>

                <p class="blue-grey-text text-lighten-4">Email: info@v12events.com</p></div>
            <div class="col l4 offset-l2 s12"><h5 class="white-text">Links</h5>
                <ul class="inline">
                    <li><a href="#"><i class="fa fa-facebook fa-2x white-text"></i></a></li>
                    <li><a href="#"><i class="fa fa-envelope fa-2x white-text"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">© 2015 - Present Copyright V12 Events Dubai LLC
            <div class="right">Site Created by Clinton D'souza
                <a href="#" class="credPadding"><i
                        class="fa fa-facebook fa-1x white-text"></i>
                </a><a href="#" class="credPadding"><i
                        class="fa fa-twitter fa-1x white-text"></i></a>
                <a href="#" class="credPadding"><i
                        class="fa fa-instagram fa-1x white-text"></i></a>
                <a href="#" class="credPadding"><i
                        class="fa fa-envelope fa-1x white-text"></i></a>
            </div>
        </div>
    </div>
</footer>

